a.naked::after {
	content: " → " attr(href)
}

article {
	margin-top: 4rem;
}

aside {
	border-top: 1px solid;
	font-size: smaller;
	margin-left: auto;
	max-width: min(100vw - 8rem, 56rem); /* 60rem is body width */
	width: max-content;
}

aside pre:not(.fl) {
	max-width: calc(100vw - 9.4rem - 4px);
}

body {
	font-family: "Avenir", "Segoe UI", sans-serif;
	margin: 0 2rem 1rem;
	max-width: 60rem;
}

dl {
	display: grid;
	line-height: 1.3;
	max-width: max-content;
}

dl dd {
	grid-column-start: 2;
}

figure {
	margin: 0 auto;
	overflow-x: auto;
	max-width: min-content;
}

figure img {
	vertical-align: bottom;
}

footer {
	text-align: center;
}

footer i {
	font-size: 0.8em;
	font-style: italic;
	opacity: 0.7;
}

h1 {
	font-family: "Courier", monospace;
	font-weight: normal;
}

hgroup h2 {
	display: inline-block;
	margin: 1rem 0 0;
}

hgroup p {
	display: inline-block;
	font-size: 0.8em;
	font-style: italic;
	margin: 0 1rem 0;
	opacity: 0.7;
}

iframe {
	border: 2px solid;
	box-sizing: border-box;
	height: 500px;
	width: 100%;
}

input[type="text"] {
	font-size: inherit;
}

label:has(textarea) {
	display: grid;
	grid-template-columns: 5rem 1fr;
}

label textarea {
	box-sizing: border-box;
	font-size: inherit;
	height: 200px;
	resize: vertical;
	width: 100%;
}

p {
	line-height: 1.3;
	margin: 1rem 0;
	overflow-wrap: break-word;
}

pre.fl {
	font-family: "Granjon Boxes", monospace;
	font-size: min(3.75rem, (100vw - 4rem) / 16);
	line-height: 1;
	margin: 0;
	text-align: center;
}

pre.fl:active {
	font-family: "Kreative Square", monospace;
}

pre:not(.fl) {
	background-color: color-mix(in srgb-linear, #808080, Canvas 90%);
	border: 2px solid;
	font-size: larger;
	max-width: calc(100vw - 5.4rem - 4px);
	overflow-x: auto;
	padding: 0.7rem;
	width: max-content;
}

q code {
	word-break: break-all;
}

section.featured {
	background-color: color-mix(in srgb, DeepPink, transparent 75%);
	box-shadow: 0 0 0 15px color-mix(in srgb, DeepPink, transparent 92%);
	margin: 30px 15px;
	padding: 1rem;
}

section.featured h3 {
	margin-top: 0;
	text-align: center;
}

section.featured p:last-child {
	margin-bottom: 0;
}

section.featured pre:not(.fl) {
	max-width: min(56.6rem - 34px, 100vw - 7.4rem - 34px);
}

span.fl {
	font-family: "EB Garamond", "American Typewriter", "Century Gothic", monospace;
	font-size: 1.7em;
	font-weight: normal;
}

ul {
	line-height: 1.3;
}

#collage_619 {
	position: relative;
}

#collage_619 figure figcaption {
	max-width: 390px;
	position: absolute;
	top: 294px;
}