dt a::after {
	content: attr(href);
	font-family: monospace;
}

body {
	line-height: 1.5;
	margin: 1rem;
	max-width: 60rem;
}

code.pass {
	background-color: #5af3;
	padding: 3px;
}

code.fail {
	background-color: #f053;
	padding: 3px;
}

dt {
	margin-top: 1rem;
}

pre {
	background-color: #7773;
	border: 1px solid;
	overflow-x: auto;
	padding: 10px;
}
