@font-face {
	font-family: "EB Garamond";
	font-style: normal;
	src: url("../fonts/eb-garamond-normal.woff") format("woff");
}
@font-face {
	font-family: "EB Garamond";
	font-style: italic;
	src: url("../fonts/eb-garamond-italic.woff") format("woff");
}
@font-face {
	font-family: "Granjon Boxes";
	src: url("../fonts/granjon-boxes.woff2") format("woff2");
}
@font-face {
	font-family: "Kreative Square";
	src: url("../fonts/k-square-boxes.woff2") format("woff2");
}
body {
	margin: 0;
	min-width: min-content;
}
