@charset "utf-8";

:root {
	--column-width: 60rem;
}

article {
	max-width: var(--column-width);
}

article p {
	line-height: 1.5;
}

article > footer:last-child > p {
	& > a.naked::after {
		content: "\0A" attr(href);
		letter-spacing: 0.05em;
	}
	font-size: smaller;
	text-align: center;
	white-space-collapse: preserve-breaks;
}

code > var,
dl.programming > dt {
	font-family: monospace;
	font-style: normal;
	font-weight: bold;
}

dl.programming > dd,
samp {
	& > u {
		font-style: italic;
		opacity: 0.7;
		text-decoration: none;
	}
	font-family: monospace;
}
